<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<% @menus.each do |menu| %>
  <div class="pad">
    <div class="card card-inverse">
      <img class="card-img" src="http://static.wixstatic.com/media/0c8d97d482cd4c658502fff90ec9275b.jpg_srz_769_270_85_22_0.50_1.20_0.00_jpg_srz" alt="Card image">
      <% avatar_url = menu.user.facebook_picture_url || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: "avatar card-avatar" %>
      <div class="card-img-overlay">
        <div class="box-card">
          <h4 class="card-title"><%= menu.name %></h4>
          <p class="card-text"><%= menu.description %> <br> <%= menu.price %>€/per person</p>
          <p class="card-text">
            Pick-up location: <%= menu.address %>
          </p>
          <p class="card-text">
            Pick-up time: <%= menu.pick_up.strftime("%H:%M %m/%d/%Y")%>
          <div class="btn-group mvbtngrp">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add to basket <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">1 person</a></li>
              <li><a href="#">2 persons</a></li>
              <li><a href="#">3 persons</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">4 persons</a></li>
            </ul>
            <!-- <a href=""></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
<% end %>

<%= link_to 'New Menu', new_menu_path %>
