<p id="notice"><%= notice %></p>

<p> <strong> Thank you for your order! </strong></p>
<p> Please note your order details below:</p>
<p>You ordered  <%= @menu.name %>
  <p>for <%= @order.quantity %> person(s) to be picked up at</p>
  <%= @menu.pick_up.strftime("%H:%M %m/%d/%Y") %>
  <p>at this address: <%= @menu.address %> </p>

  <p>Your total cost for this order is <%= @order.amount %> euros</p>

  <%= link_to 'Browse the Menus', menus_path %>
